.root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.nav {
  display: flex;
  gap: 16px;
  padding: 10px;
  background: #fff;
}

.content {
  height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 16px;
}
.note {
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}